* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fefeff;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

#about-box {
  width: 65%;
  height: 100vh;
  background: url("../assets/img/login_img.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}
#about-box .text-box {
  position: absolute;
  color: #5680f9;
  font-weight: 400;
}
#about-box .heading {
  font-size: 48px;
  bottom: 16%;
}
#about-box .subheading {
  font-size: 24px;
  bottom: 12%;
}

#change-language {
  width: 120px;
  height: 30px;
  position: absolute;
  right: 1%;
  top: 2%;
  align-items: center;
  display: flex;
}
#change-language:hover {
  border: 1px solid #353B44;
  border-radius: 8px;
  cursor: pointer;
}
#change-language:hover .lang-logo svg path {
  fill: #353B44;
}
#change-language:hover #language {
  color: #353B44;
  cursor: pointer;
}
#change-language .lang-logo {
  width: 16px;
  height: 16px;
  margin: 0 4px;
}
#change-language #language {
  font-family: quicksand;
  font-size: 16px;
  border: none;
  color: #8D99BB;
  transition: all 0.3s ease;
}

#forgotpass-form {
  background-color: #FFFFFF;
  width: 30%;
  height: 620px;
  border-radius: 16px;
  box-shadow: 0 4px 24px 0 rgba(86, 85, 210, 0.2392156863);
  position: absolute;
  right: 5%;
  top: 18%;
}
#forgotpass-form .header {
  width: 100%;
  height: 70px;
  background-color: #ee0033;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  padding: 0 2% 0 2%;
}
#forgotpass-form .header .back {
  display: flex;
  align-items: center;
}
#forgotpass-form .header .back img {
  width: 18px;
  height: 18px;
  color: #fff;
}
#forgotpass-form .header .back a {
  color: #FFFFFF;
  font-family: quicksand;
  font-size: 16px;
  text-decoration: none;
}
#forgotpass-form .header h4 {
  color: #FFFFFF;
  font-family: quicksand;
  font-size: 24px;
  text-align: center;
}
#forgotpass-form .content {
  padding: 0 8% 0 8%;
}
#forgotpass-form .content .img {
  margin-top: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}
#forgotpass-form .content div {
  margin-bottom: 32px;
}
#forgotpass-form .content div .heading {
  color: #ee0033;
  font-family: quicksand;
  font-size: 24px;
  font-weight: 700;
}
#forgotpass-form .content div .subheading {
  color: #000000;
  font-family: quicksand;
  font-size: 16px;
  font-weight: 400;
}
#forgotpass-form .content input {
  width: 100%;
  height: 58px;
  padding-left: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #7B8089;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #B5B5C3;
  border-radius: 8px;
  margin-bottom: 56px;
}
#forgotpass-form .content input:focus {
  outline: none;
  border: 2px solid #5680f9;
}
#forgotpass-form .content .submit-btn {
  width: 100%;
  height: 48px;
  background-color: #D0D2D5;
  border-radius: 8px;
  color: #fff;
  border: none;
}

@media only screen and (max-width: 63.9375em) {
  main {
    height: 100vh;
  }
  #about-box {
    display: none;
  }
  #forgotpass-form {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Mobile */
@media only screen and (max-width: 46.1875em) {
  #change-language {
    width: 30%;
    height: 24px;
    top: 0;
    right: 0;
  }
  #forgotpass-form .header .back a {
    font-size: 12px;
  }
  #forgotpass-form .header h4 {
    font-size: 18px;
  }
}/*# sourceMappingURL=forgot_pass.css.map */