@import "shared";


#about-box {
    width: 65%;
    height: 100vh;
    background: url('../assets/img/login_img.jpg') center / cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;

    .text-box {
        position: absolute;
        color: $main-text-color;
        font-weight: 400;
    }

    .heading {
        font-size: 48px;
        bottom: 16%;
    }

    .subheading {
        font-size: 24px;
        bottom: 12%;
    }
}

#change-language {
    width: 120px;
    height: 30px;
    position: absolute;
    right: 1%;
    top: 2%;
    align-items: center;
    display: flex;

    &:hover {
        border: 1px solid #353B44;
        border-radius: 8px;
        cursor: pointer;

        .lang-logo {
            svg {
                path {
                    fill:#353B44;
                }
            }
        }

        #language {
            color: #353B44;
            cursor: pointer;
        }
    }

    .lang-logo {
        width: 16px;
        height: 16px;
        margin: 0 4px;
    }

    #language {
        font-family: $sub-fontf;
        font-size: 16px;
        border: none;
        color: #8D99BB;
        transition: all 0.3s ease;
    }
}

#forgotpass-form {
    background-color: #FFFFFF;
    width: 30%;
    height: 620px;
    border-radius: 16px;
    box-shadow: 0 4px 24px 0 #5655D23D;
    position: absolute;
    right: 5%;
    top: 18%;

    .header {
        width: 100%;
        height: 70px;
        background-color: $main-color;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        align-items: center;
        padding: 0 2% 0 2%;

        .back {
            display: flex;
            align-items: center;
            
            img {
                width: 18px;
                height: 18px;
                color: #fff;
            };

            a {
                color: #FFFFFF;
                font-family: $sub-fontf;
                font-size: 16px;
                text-decoration: none;  
            }
        }

        h4 {
            color: #FFFFFF;
            font-family: $sub-fontf;
            font-size: 24px;
            text-align: center;
        }
    }
    .content {
        padding: 0 8% 0 8%;


        .img {
            margin-top: 16px;
            margin-bottom: 32px;
            display: flex;
            justify-content: center;
        }
    
        div {
            margin-bottom: 32px;
            .heading {
                color: $main-color;
                font-family: $sub-fontf;
                font-size: 24px;
                font-weight: 700;
            }
            .subheading {
                color: #000000;
                font-family: $sub-fontf;
                font-size: 16px;
                font-weight: 400;
            }
        }
    
        input {
            width: 100%;
            height: 58px;
            padding-left: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #7B8089;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #B5B5C3;
            border-radius:8px;
            margin-bottom: 56px;

            &:focus {
                outline: none;
                border: 2px solid $main-text-color;
            }
        }
    
        .submit-btn {
            width: 100%;
            height: 48px;
            background-color: #D0D2D5;
            border-radius: 8px;
            color: #fff;
            border: none;
        }
    }
}

@media only screen and (max-width: 63.9375em) {
    main {
        height: 100vh;
    }

    #about-box {
        display: none;
    }

    #forgotpass-form {
        @include center;
    }
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
    #change-language {
        width: 30%;
        height: 24px;
        top: 0;
        right: 0;
    }

    #forgotpass-form {
        .header {
            .back {
                a {
                    font-size: 12px;
                }
            }
            h4 {
                font-size: 18px;
            }
        }
    }
}

