* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEFEFF;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.text-box {
    position: absolute;
    color: #5680F9;
    font-weight: 400;
}

#about-box {
    width: 65%;
    height: 100vh;
    background: url('../assets/img/login_img.jpg') center / cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
}

#about-box .heading {
    font-size: 48px;
    bottom: 16%;
}

#about-box .subheading{
    font-size: 24px;
    bottom: 12%;
}

#change-language {
    width: 152px;
    height: 40px;
    position: absolute;
    right: 1%;
    top: 2%;
    align-items: center;
    display: flex;
}

#change-language .lang-logo {
    width: 16px;
    height: 16px;
    margin: 0 4px;
    opacity: 0.5;
}

#language {
    border: none;
    color: #8D99BB;
}

#login-form {
    background-color: #fff;
    width: 30%;
    height: 621px;
    border-radius: 16px;
    box-shadow: 0 4px 24px 0 #5655D23D;
    position: absolute;
    right: 5%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 0 16px;
}

#login-form .main-logo {
    width: 282px;
    height: 96px;
    margin-top: 48px;
}

#login-form h3 {
    color: #EE0033;
    font-size: 24px;
    font-weight: 700;
    margin-top: 48px;
    margin-bottom: 40px;
    text-align: center;
}

#login-form .input {
    width: 100%;
    height: 58px;
    border: 1px solid #8D99BB;
    padding: 0 16px;
    border-radius: 8px;
    margin-bottom: 24px;
}

#login-form .helper-text {
    display: none;
}

#login-form .password {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.password .save-pass {
    height: 24px;
    font-family: quicksand;
    font-weight: 500;
    color: #353B44;
    display: flex;
}

.password .check-box {
    background-color: #E0E0E0;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    accent-color: #EE0033;
}

.password p {
    margin-top: 4px;
}

.password .forgot-pass {
    font-family: quicksand;
    font-size: 16px;
    font-weight: 500;
    color: #5680F9;
    text-decoration: none;
    margin-top: 4px;
}

.login-btn {
    width: 100%;
    height: 48px;
    color: #FCFCFC;
    font-size: 18px;
    font-family: quicksand;
    font-weight: 500;
    background-color: #EE0033;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.login-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.signup-link-text {
    text-align: center;
    font-family: quicksand;
    font-size: 14px;
    font-weight: 500;
}

.signup-link {
    color: #5680F9;
    font-family: quicksand;
    font-size: 14px;
    font-weight: 700;
}

@media only screen and (max-width: 63.9375em) {
    main {
        height: 100vh;
    }

    #about-box {
        display: none;
    }

    #login-form {
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
    #change-language {
        width: 30%;
        height: 24px;
        top: 0;
        right: 0;
    }

    #login-form .password,
    #login-form .login-btn,
    #login-form .input,
    #login-form h3 {
        width: 100%;
    }

    #login-form h3 {
        font-size: 16px;
    }
}










